# Data files
*.json
logs/
models/

# Virtual Environment
env/

# Notebook Checkpoints
.ipynb_checkpoints/

# DLL Files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so


# Distribution / packaging
.Python
build/


# Pickle files
*.pkl


